<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>все заметки</title>
</head>
<body>
<h1>Все заметки</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Manage</th>
    </tr>
    {{range .Notes}}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.Content}}</td>
        <td>
            <a href="/note?id={{.Id}}"><button type="button">Открыть</button></a>
            <a href="/update-note?id={{.Id}}"><button type="button">Редактировать</button></a>
            <a href="/remove?id={{.Id}}"><button type="button">Удалить</button></a>
        </td>
    </tr>
    {{end}}
</table>
<br>
<br>
<br>
<a href="/new-note"><button>Добавить новую заметку</button></a>
<br>
<br>
<br>
<div>
    {{if .HasPrev}}
    <a href="/?page={{.PrevPage}}">← Назад</a>
    {{end}}

    Страница {{.Page}}

    {{if .HasNext}}
    <a href="/?page={{.NextPage}}">Вперёд →</a>
    {{end}}
</div>
</body>
</html>